@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
    background-image: linear-gradient(to right bottom, #00F260, #0575E6);
    background-attachment: fixed;
}

.container {
    padding-top: 50px;
}

.row {
    height: 90vh;
}


.app__sidebar {
    background-color: #fff;
    height: 100%;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
}

.app__main-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;

}